<mat-toolbar class="main-toolbar">
    <mat-toolbar-row>
        <span>Add Author</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="accent" (click)="onSubmit()">Save</button>
    </mat-toolbar-row>
</mat-toolbar>
<br><br><br>
<mat-progress-spinner
      *ngIf="spinnerFlag"
      class="example-margin"
      [color]="color"
      [mode]="mode"
      [value]="value">
</mat-progress-spinner>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <form class="example-form" [formGroup]="addAuthorForm">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="First Name" formControlName="firstname">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name" formControlName="lastname">
                </mat-form-field>
              
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="test@test.com" formControlName="email">
                </mat-form-field>

                <button mat-icon-button onClick="document.getElementById('singleFile').click()"><mat-icon>cloud_upload</mat-icon></button>
                <input id="singleFile" type="file" style="display:none" [fileUploadInputFor]= "fileUploadQueue"/>
                <mat-file-upload-queue #fileUploadQueue
                    [fileAlias]="'img'"
                    [httpUrl]="uploadAPI">
                    <mat-file-upload [file]="file" (onUpload)="doneUpload($event)" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
                </mat-file-upload-queue>
              
                <mat-form-field class="example-full-width">
                  <textarea matInput rows="15" cols="50" placeholder="Author's Profile" formControlName="profile"></textarea>
                </mat-form-field>
        </form>    
</div>
<!--

<mat-grid-list cols="1">
    <mat-grid-tile>
        <div>
            <form class="example-form" [formGroup]="addAuthorForm">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="First Name" formControlName="firstname">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name" formControlName="lastname">
                </mat-form-field>
              
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="test@test.com" formControlName="email">
                </mat-form-field>

                <button mat-icon-button onClick="document.getElementById('singleFile').click()"><mat-icon>cloud_upload</mat-icon></button>
                <input id="singleFile" type="file" style="display:none" [fileUploadInputFor]= "fileUploadQueue"/>
                <mat-file-upload-queue #fileUploadQueue
                    [fileAlias]="'img'"
                    [httpUrl]="uploadAPI">
                    <mat-file-upload [file]="file" (onUpload)="doneUpload($event)" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
                </mat-file-upload-queue>
              
                <mat-form-field class="example-full-width">
                  <textarea matInput rows="15" cols="50" placeholder="Author's Profile" formControlName="profile"></textarea>
                </mat-form-field>
              </form>              
        </div>
    </mat-grid-tile>
</mat-grid-list>
-->