.example-spacer {
    flex: 1 1 auto;
}

.separator {
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

.editBtn {
    display: flex;
    flex-flow: column wrap;
}