<mat-toolbar class="main-toolbar">
    <mat-toolbar-row>
        <span>Register</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="accent" (click)="onSubmit()">Register</button>
    </mat-toolbar-row>
</mat-toolbar>
<br>
<mat-grid-list cols="3">
    <mat-grid-tile colspan="2" rowspan="1">
        <div>
            <form class="example-form" [formGroup]="registrationForm">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="email" formControlName="email">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="password" formControlName="password">
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="confirmPassword" formControlName="confirmPassword">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput  placeholder="Full Name" formControlName="fullName">
                </mat-form-field>
                
              </form>              
        </div>
    </mat-grid-tile>
</mat-grid-list>