<mat-toolbar class="main-toolbar">
    <mat-toolbar-row>
        <span>Change Password</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="accent" (click)="onSubmit()">Change</button>
    </mat-toolbar-row>
</mat-toolbar>
<br>
<mat-grid-list cols="3">
    <mat-grid-tile colspan="2" rowspan="1">
        <div>
            <form class="example-form" [formGroup]="changePasswordForm">
                <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Current password" formControlName="currentPassword">
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="New password" formControlName="newPassword">
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="confirm Password" formControlName="confirmPassword">
                </mat-form-field>

              </form>              
        </div>
    </mat-grid-tile>
</mat-grid-list>