<div class="example-container">
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Add Category
            </mat-panel-title>
          </mat-expansion-panel-header>
      
          <mat-form-field>
            <input matInput placeholder="name" id="name" [(ngModel)]="name" name="name">
          </mat-form-field>
          <div class="separator"></div>
          <button mat-raised-button color="accent" (click)="onAdd()">Add</button>
        </mat-expansion-panel>
    </mat-accordion>
</div>